<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="21"
    android:versionName="3.4.0">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="31" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name="SpaceAlertApplication"
        android:allowBackup="true"
        android:icon="@drawable/space_alert_logo"
        android:label="@string/app_name"
        android:theme="@style/SpaceAlertTheme">
        <activity
            android:name=".ui.MissionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:multiprocess="false"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PreferencesActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.HelpActivity" />
    </application>

</manifest>